.container {
  text-align: center;
}

h1 {
  font-size: 125px;
  color: rgb(22, 18, 18);
  margin:0;
}

h2 {
  margin-top: -10px;
}

.link {
  font-size: 30px;
  color: rgba(170, 17, 17, 0.2);
  font-weight: 500;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
